server/node-red/flows.json
[
    {
        "id": "akilli-sinif-flow",
        "type": "tab",
        "label": "Akıllı Sınıf Sistemi",
        "disabled": false,
        "info": "ESP32'den gelen sensör verilerini InfluxDB'ye kaydeder ve dashboard'da gösterir.",
        "env": []
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {
            "user": "nodered",
            "password": "nodered123"
        }
    },
    {
        "id": "influxdb-config",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "",
        "name": "InfluxDB v2",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false,
        "credentials": {}
    },
    {
        "id": "comment-header",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "🏫 Akıllı Sınıf Sistemi - MQTT → InfluxDB",
        "info": "Bu flow:\n1. ESP32'den MQTT üzerinden sensör verilerini alır\n2. JSON parse eder\n3. InfluxDB'ye yazar\n4. Dashboard için veri hazırlar",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment-sensors",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "📊 Sensör Verileri",
        "info": "",
        "x": 110,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt-temperature",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Sıcaklık",
        "topic": "akilli-sinif/+/sensors/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "process-temperature",
                "debug-temperature"
            ]
        ]
    },
    {
        "id": "process-temperature",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Process Temperature",
        "func": "// Topic'ten sınıf ID'sini çıkar\nvar parts = msg.topic.split('/');\nvar classroomId = parts[1];\n\n// InfluxDB için veriyi hazırla\nmsg.payload = [\n    {\n        measurement: \"temperature\",\n        tags: {\n            classroom: classroomId,\n            sensor: \"temperature\",\n            unit: \"C\"\n        },\n        fields: {\n            value: msg.payload.value\n        }\n    }\n];\n\n// Global değişkene kaydet (dashboard için)\nglobal.set('temp_' + classroomId, msg.payload[0].fields.value);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "debug-temperature",
        "type": "debug",
        "z": "akilli-sinif-flow",
        "name": "Debug Sıcaklık",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.value",
        "targetType": "msg",
        "statusVal": "payload.value",
        "statusType": "auto",
        "x": 320,
        "y": 120,
        "wires": []
    },
    {
        "id": "mqtt-humidity",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Nem",
        "topic": "akilli-sinif/+/sensors/humidity",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "process-humidity"
            ]
        ]
    },
    {
        "id": "process-humidity",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Process Humidity",
        "func": "var parts = msg.topic.split('/');\nvar classroomId = parts[1];\n\nmsg.payload = [\n    {\n        measurement: \"humidity\",\n        tags: {\n            classroom: classroomId,\n            sensor: \"humidity\",\n            unit: \"percent\"\n        },\n        fields: {\n            value: msg.payload.value\n        }\n    }\n];\n\nglobal.set('humidity_' + classroomId, msg.payload[0].fields.value);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "mqtt-light",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Işık",
        "topic": "akilli-sinif/+/sensors/light",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "process-light"
            ]
        ]
    },
    {
        "id": "process-light",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Process Light",
        "func": "var parts = msg.topic.split('/');\nvar classroomId = parts[1];\n\nmsg.payload = [\n    {\n        measurement: \"light\",\n        tags: {\n            classroom: classroomId,\n            sensor: \"light\",\n            unit: \"lux\"\n        },\n        fields: {\n            value: msg.payload.value\n        }\n    }\n];\n\nglobal.set('light_' + classroomId, msg.payload[0].fields.value);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "mqtt-air-quality",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Hava Kalitesi",
        "topic": "akilli-sinif/+/sensors/air_quality",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "process-air-quality"
            ]
        ]
    },
    {
        "id": "process-air-quality",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Process Air Quality",
        "func": "var parts = msg.topic.split('/');\nvar classroomId = parts[1];\n\nmsg.payload = [\n    {\n        measurement: \"air_quality\",\n        tags: {\n            classroom: classroomId,\n            sensor: \"air_quality\",\n            unit: \"ppm\"\n        },\n        fields: {\n            value: msg.payload.value\n        }\n    }\n];\n\nglobal.set('air_' + classroomId, msg.payload[0].fields.value);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "mqtt-pir",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Hareket (PIR)",
        "topic": "akilli-sinif/+/sensors/pir",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "process-pir"
            ]
        ]
    },
    {
        "id": "process-pir",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Process PIR",
        "func": "var parts = msg.topic.split('/');\nvar classroomId = parts[1];\n\n// Boolean'ı 0/1'e çevir\nvar motionValue = msg.payload.detected ? 1 : 0;\n\nmsg.payload = [\n    {\n        measurement: \"motion\",\n        tags: {\n            classroom: classroomId,\n            sensor: \"pir\"\n        },\n        fields: {\n            detected: motionValue\n        }\n    }\n];\n\nglobal.set('motion_' + classroomId, motionValue);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 400,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "mqtt-window",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Pencere",
        "topic": "akilli-sinif/+/sensors/window",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 460,
        "wires": [
            [
                "process-window"
            ]
        ]
    },
    {
        "id": "process-window",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Process Window",
        "func": "var parts = msg.topic.split('/');\nvar classroomId = parts[1];\n\n// Boolean'ı 0/1'e çevir\nvar windowValue = msg.payload.open ? 1 : 0;\n\nmsg.payload = [\n    {\n        measurement: \"window\",\n        tags: {\n            classroom: classroomId,\n            sensor: \"window\"\n        },\n        fields: {\n            open: windowValue\n        }\n    }\n];\n\nglobal.set('window_' + classroomId, windowValue);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 460,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "influxdb-write",
        "type": "influxdb out",
        "z": "akilli-sinif-flow",
        "influxdb": "influxdb-config",
        "name": "InfluxDB Write",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AkilliSinif",
        "bucket": "sinif_data",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "comment-status",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "📡 Cihaz Durumu",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "mqtt-status",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Cihaz Durumu",
        "topic": "akilli-sinif/+/status/connection",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 580,
        "wires": [
            [
                "process-status",
                "debug-status"
            ]
        ]
    },
    {
        "id": "process-status",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Process Status",
        "func": "var parts = msg.topic.split('/');\nvar classroomId = parts[1];\n\n// Cihaz durumunu global'e kaydet\nvar deviceStatus = {\n    status: msg.payload.status,\n    device: msg.payload.device,\n    ip: msg.payload.ip,\n    rssi: msg.payload.rssi,\n    uptime: msg.payload.uptime,\n    lastSeen: new Date().toISOString()\n};\n\nglobal.set('device_' + classroomId, deviceStatus);\n\n// InfluxDB'ye kaydet\nmsg.payload = [\n    {\n        measurement: \"device_status\",\n        tags: {\n            classroom: classroomId,\n            device: msg.payload.device || 'unknown'\n        },\n        fields: {\n            online: msg.payload.status === 'online' ? 1 : 0,\n            rssi: msg.payload.rssi || 0,\n            uptime: msg.payload.uptime || 0\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 580,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "debug-status",
        "type": "debug",
        "z": "akilli-sinif-flow",
        "name": "Debug Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "auto",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "comment-control",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "🎮 Aktüatör Kontrolü",
        "info": "",
        "x": 130,
        "y": 660,
        "wires": []
    },
    {
        "id": "inject-led-on",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "LED %100",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"brightness\":100}",
        "payloadType": "json",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "mqtt-led-control"
            ]
        ]
    },
    {
        "id": "inject-led-50",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "LED %50",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"brightness\":50}",
        "payloadType": "json",
        "x": 100,
        "y": 760,
        "wires": [
            [
                "mqtt-led-control"
            ]
        ]
    },
    {
        "id": "inject-led-off",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "LED Kapat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"off\"}",
        "payloadType": "json",
        "x": 100,
        "y": 800,
        "wires": [
            [
                "mqtt-led-control"
            ]
        ]
    },
    {
        "id": "mqtt-led-control",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "LED Control",
        "topic": "akilli-sinif/sinif-1/control/led",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 310,
        "y": 760,
        "wires": []
    },
    {
        "id": "inject-fan-on",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "Fan %100",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"speed\":100}",
        "payloadType": "json",
        "x": 100,
        "y": 860,
        "wires": [
            [
                "mqtt-fan-control"
            ]
        ]
    },
    {
        "id": "inject-fan-off",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "Fan Kapat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"off\"}",
        "payloadType": "json",
        "x": 100,
        "y": 900,
        "wires": [
            [
                "mqtt-fan-control"
            ]
        ]
    },
    {
        "id": "mqtt-fan-control",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "Fan Control",
        "topic": "akilli-sinif/sinif-1/control/fan",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 310,
        "y": 880,
        "wires": []
    },
    {
        "id": "comment-automation",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "🤖 Otomasyon Kuralları",
        "info": "",
        "x": 140,
        "y": 980,
        "wires": []
    },
    {
        "id": "mqtt-sensors-all",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Tüm Sensörler",
        "topic": "akilli-sinif/+/sensors/#",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "automation-logic"
            ]
        ]
    },
    {
        "id": "automation-logic",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Otomasyon Mantığı",
        "func": "// Topic'i parse et\nvar parts = msg.topic.split('/');\nvar classroomId = parts[1];\nvar sensorType = parts[3];\n\n// Global değerlerden mevcut durumu al\nvar temp = global.get('temp_' + classroomId) || 24;\nvar light = global.get('light_' + classroomId) || 300;\nvar motion = global.get('motion_' + classroomId) || 0;\nvar windowState = global.get('window_' + classroomId) || 0;\nvar airQuality = global.get('air_' + classroomId) || 100;\n\n// Mevcut aktüatör durumları\nvar currentLed = global.get('led_' + classroomId) || 0;\nvar currentFan = global.get('fan_' + classroomId) || 0;\n\n// Otomasyon kuralları\nvar commands = [];\n\n// Kural 1: Hareket yoksa ve 5 dakika geçtiyse ışıkları kapat\nif (motion === 0) {\n    var lastMotion = global.get('lastMotion_' + classroomId) || 0;\n    var now = Date.now();\n    if (now - lastMotion > 300000 && currentLed > 0) { // 5 dakika\n        commands.push({\n            topic: 'akilli-sinif/' + classroomId + '/control/led',\n            payload: { state: 'off' },\n            reason: 'Hareket yok, 5 dakika gecti'\n        });\n    }\n} else {\n    global.set('lastMotion_' + classroomId, Date.now());\n}\n\n// Kural 2: Hareket var ve ortam karanlıksa ışıkları aç\nif (motion === 1 && light < 200 && currentLed === 0) {\n    commands.push({\n        topic: 'akilli-sinif/' + classroomId + '/control/led',\n        payload: { brightness: 80 },\n        reason: 'Hareket var ve ortam karanlik'\n    });\n}\n\n// Kural 3: Sıcaklık yüksek ve pencere kapalıysa fan aç\nif (temp > 26 && windowState === 0 && currentFan === 0) {\n    commands.push({\n        topic: 'akilli-sinif/' + classroomId + '/control/fan',\n        payload: { speed: 50 },\n        reason: 'Sicaklik yuksek (' + temp + 'C)'\n    });\n}\n\n// Kural 4: Sıcaklık normale döndüyse fanı kapat\nif (temp < 24 && currentFan > 0) {\n    commands.push({\n        topic: 'akilli-sinif/' + classroomId + '/control/fan',\n        payload: { state: 'off' },\n        reason: 'Sicaklik normale dondu (' + temp + 'C)'\n    });\n}\n\n// Kural 5: Hava kalitesi kötüyse fan aç (pencere kapalıysa)\nif (airQuality > 200 && windowState === 0 && currentFan < 50) {\n    commands.push({\n        topic: 'akilli-sinif/' + classroomId + '/control/fan',\n        payload: { speed: 75 },\n        reason: 'Hava kalitesi kotu (' + airQuality + ' ppm)'\n    });\n}\n\n// Komutları gönder\nif (commands.length > 0) {\n    // Her komut için ayrı mesaj\n    return commands.map(function(cmd) {\n        node.warn('Otomasyon: ' + cmd.reason);\n        return {\n            topic: cmd.topic,\n            payload: cmd.payload\n        };\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1040,
        "wires": [
            [
                "mqtt-automation-out"
            ]
        ]
    },
    {
        "id": "mqtt-automation-out",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "Otomasyon Çıkışı",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "comment-window-warning",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "⚠️ Pencere Açık Uyarısı",
        "info": "",
        "x": 140,
        "y": 1120,
        "wires": []
    },
    {
        "id": "window-warning-check",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Pencere Açık Kontrolü",
        "func": "// Pencere durumunu kontrol et\nvar parts = msg.topic.split('/');\nvar classroomId = parts[1];\n\nif (msg.payload.open === true) {\n    // Pencere açıksa uyarı mesajı hazırla\n    msg.payload = {\n        warning: true,\n        message: 'Pencere acikken klima calistirilamaz!',\n        classroom: classroomId,\n        timestamp: new Date().toISOString()\n    };\n    \n    node.warn('UYARI: ' + classroomId + ' pencereleri acik!');\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1180,
        "wires": [
            [
                "mqtt-warning-out"
            ]
        ]
    },
    {
        "id": "mqtt-warning-out",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "Uyarı Çıkışı",
        "topic": "akilli-sinif/warnings/window",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 570,
        "y": 1180,
        "wires": []
    },
    {
        "id": "link-window-to-warning",
        "type": "link in",
        "z": "akilli-sinif-flow",
        "name": "Window Data In",
        "links": [],
        "x": 115,
        "y": 1180,
        "wires": [
            [
                "window-warning-check"
            ]
        ]
    }
]
