server/node-red/flows-v3.json
[
    {
        "id": "akilli-sinif-flow",
        "type": "tab",
        "label": "Akıllı Sınıf Sistemi",
        "disabled": false,
        "info": "ESP32'den gelen sensör verilerini InfluxDB'ye kaydeder ve otomasyon kurallarını çalıştırır.",
        "env": []
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {
            "user": "nodered",
            "password": ""
        }
    },
    {
        "id": "influxdb-config",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "",
        "name": "InfluxDB v2",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "comment-header",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "🏫 Akıllı Sınıf - MQTT → InfluxDB",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt-all-sensors",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Tüm Sensörler",
        "topic": "akilli-sinif/+/sensors/+",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "process-sensor",
                "debug-sensor",
                "automation-router"
            ]
        ]
    },
    {
        "id": "debug-sensor",
        "type": "debug",
        "z": "akilli-sinif-flow",
        "name": "Debug Sensör",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "process-sensor",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "InfluxDB Format",
        "func": "// Topic: akilli-sinif/sinif-1/sensors/temperature\nvar parts = msg.topic.split('/');\nvar classroomId = parts[1];  // sinif-1\nvar sensorType = parts[3];   // temperature, humidity, camera, etc.\n\n// Sensör tipine göre field adını belirle\nvar fieldName = \"value\";\nvar fieldValue = msg.payload.value;\n\n// Boolean sensörler için özel işlem\nif (sensorType === \"pir\") {\n    fieldName = \"detected\";\n    fieldValue = msg.payload.detected ? 1 : 0;\n} else if (sensorType === \"window\") {\n    fieldName = \"open\";\n    fieldValue = msg.payload.open ? 1 : 0;\n} else if (sensorType === \"camera\") {\n    fieldName = \"person_count\";\n    fieldValue = msg.payload.person_count || 0;\n}\n\n// InfluxDB v2 için mesajı hazırla\nmsg.measurement = sensorType;\nvar fields = {};\nfields[fieldName] = fieldValue;\n\n// Akim sensoru icin ham ADC degerini de kaydet (kalibrasyon icin)\nif (sensorType === \"current\" && msg.payload.raw !== undefined) {\n    fields.raw = msg.payload.raw;\n}\n\nvar tags = {\n    classroom: classroomId,\n    sensor: sensorType\n};\nmsg.payload = [fields, tags];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "influxdb-write",
        "type": "influxdb out",
        "z": "akilli-sinif-flow",
        "influxdb": "influxdb-config",
        "name": "InfluxDB Write",
        "measurement": "",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AkilliSinif",
        "bucket": "sinif_data",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "mqtt-status",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Cihaz Durumu",
        "topic": "akilli-sinif/+/status/connection",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "process-status"
            ]
        ]
    },
    {
        "id": "process-status",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Status Format",
        "func": "var parts = msg.topic.split('/');\nvar classroomId = parts[1];\n\nmsg.measurement = \"device_status\";\nmsg.payload = [\n    {\n        online: msg.payload.status === \"online\" ? 1 : 0,\n        rssi: msg.payload.rssi || 0,\n        uptime: msg.payload.uptime || 0\n    },\n    {\n        classroom: classroomId,\n        device: msg.payload.device || \"unknown\"\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "comment-automation",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "🤖 OTOMASYON KURALLARI",
        "info": "Sınıf boşken LED + Cooling + Heating kapat\nSınıf doluyken ortam koşullarına göre ayarla",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "automation-router",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Otomasyon Router",
        "func": "// Topic'e göre sensör verilerini global context'e kaydet\nvar parts = msg.topic.split('/');\nvar classroomId = parts[1];\nvar sensorType = parts[3];\n\n// Global context key\nvar key = classroomId + '_' + sensorType;\n\n// Sensör değerini kaydet\nif (sensorType === 'camera') {\n    global.set(classroomId + '_person_count', msg.payload.person_count || 0);\n    return [msg, null, null];  // Output 1: Kişi sayısı değişti\n} else if (sensorType === 'temperature') {\n    global.set(classroomId + '_temperature', msg.payload.value);\n    return [null, msg, null];  // Output 2: Sıcaklık değişti\n} else if (sensorType === 'light') {\n    global.set(classroomId + '_light', msg.payload.value);\n    return [null, null, msg];  // Output 3: Işık değişti\n} else if (sensorType === 'pir') {\n    // PIR durumu sadece global context'e kaydedilir.\n    // check-light bir sonraki ışık okumasında bu değeri kullanır.\n    global.set(classroomId + '_pir_detected', msg.payload.detected || false);\n}\n\nreturn null;",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "check-empty-classroom"
            ],
            [
                "check-temperature"
            ],
            [
                "check-light"
            ]
        ]
    },
    {
        "id": "check-empty-classroom",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Sınıf Boş mu?",
        "func": "// Kişi sayısı değiştiğinde kontrol et\nvar parts = msg.topic.split('/');\nvar classroomId = parts[1];\nvar personCount = msg.payload.person_count || 0;\n\nvar autoMode = global.get(classroomId + '_auto_mode');\nif (autoMode === false) {\n    return null;\n}\n\nif (personCount === 0) {\n    var emptyTimer = global.get(classroomId + '_empty_timer');\n    \n    if (!emptyTimer) {\n        global.set(classroomId + '_empty_since', Date.now());\n        global.set(classroomId + '_empty_timer', true);\n        node.status({fill:'yellow', shape:'ring', text:'Sınıf boş, bekleniyor...'});\n    }\n    \n    var emptySince = global.get(classroomId + '_empty_since');\n    var elapsed = Date.now() - emptySince;\n    \n    if (elapsed >= 300000) {  // 5 dakika\n        // LED + Cooling + Heating kapat\n        node.status({fill:'red', shape:'dot', text:'5 dk boş - Kapatılıyor'});\n        \n        msg.classroomId = classroomId;\n        msg.action = 'turn_off_all';\n        return msg;\n    }\n} else {\n    global.set(classroomId + '_empty_timer', false);\n    global.set(classroomId + '_empty_since', null);\n    node.status({fill:'green', shape:'dot', text:personCount + ' kişi var'});\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Başlangıçta otomasyon aktif\nglobal.set('sinif-1_auto_mode', true);",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "turn-off-all"
            ]
        ]
    },
    {
        "id": "turn-off-all",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "LED + Cooling + Heating Kapat",
        "func": "var classroomId = msg.classroomId || 'sinif-1';\n\nvar ledMsg = {\n    topic: 'akilli-sinif/' + classroomId + '/control/led',\n    payload: { brightness: 0, reason: 'auto_empty' }\n};\n\nvar coolingMsg = {\n    topic: 'akilli-sinif/' + classroomId + '/control/cooling',\n    payload: { state: 'off', reason: 'auto_empty' }\n};\n\nvar heatingMsg = {\n    topic: 'akilli-sinif/' + classroomId + '/control/heating',\n    payload: { state: 'off', reason: 'auto_empty' }\n};\n\nnode.status({fill:'red', shape:'dot', text:'LED+Cooling+Heating kapatıldı'});\n\nreturn [ledMsg, coolingMsg, heatingMsg];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "mqtt-led-auto"
            ],
            [
                "mqtt-cooling-auto"
            ],
            [
                "mqtt-heating-auto"
            ]
        ]
    },
    {
        "id": "check-temperature",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Sıcaklık Kontrolü (Cooling+Heating)",
        "func": "// Sıcaklık değiştiğinde cooling ve heating histeresisini değerlendir\nvar parts = msg.topic.split('/');\nvar classroomId = parts[1];\nvar temperature = msg.payload.value;\n\nvar personCount = global.get(classroomId + '_person_count') || 0;\nvar autoMode = global.get(classroomId + '_auto_mode');\nif (autoMode === false || personCount === 0) {\n    return null;  // Manuel mod veya sınıf boş — otomasyon devre dışı\n}\n\n// PLC firmware ile aynı eşikler\nvar COOL_ON = 26;   // > 26°C  -> cooling ON\nvar COOL_OFF = 24;  // < 24°C  -> cooling OFF\nvar HEAT_ON = 20;   // < 20°C  -> heating ON\nvar HEAT_OFF = 22;  // > 22°C  -> heating OFF\n\nvar coolState = global.get(classroomId + '_cooling_auto_state') || false;\nvar heatState = global.get(classroomId + '_heating_auto_state') || false;\n\nvar coolingMsg = null;\nvar heatingMsg = null;\n\nif (temperature > COOL_ON && !coolState) {\n    global.set(classroomId + '_cooling_auto_state', true);\n    coolingMsg = {\n        topic: 'akilli-sinif/' + classroomId + '/control/cooling',\n        payload: { state: 'on', reason: 'auto_temp' }\n    };\n} else if (temperature < COOL_OFF && coolState) {\n    global.set(classroomId + '_cooling_auto_state', false);\n    coolingMsg = {\n        topic: 'akilli-sinif/' + classroomId + '/control/cooling',\n        payload: { state: 'off', reason: 'auto_temp' }\n    };\n}\n\nif (temperature < HEAT_ON && !heatState) {\n    global.set(classroomId + '_heating_auto_state', true);\n    heatingMsg = {\n        topic: 'akilli-sinif/' + classroomId + '/control/heating',\n        payload: { state: 'on', reason: 'auto_temp' }\n    };\n} else if (temperature > HEAT_OFF && heatState) {\n    global.set(classroomId + '_heating_auto_state', false);\n    heatingMsg = {\n        topic: 'akilli-sinif/' + classroomId + '/control/heating',\n        payload: { state: 'off', reason: 'auto_temp' }\n    };\n}\n\nvar label = temperature + '°C';\nif (coolingMsg) label += ' cool=' + coolingMsg.payload.state;\nif (heatingMsg) label += ' heat=' + heatingMsg.payload.state;\nnode.status({fill: (coolingMsg||heatingMsg)?'orange':'grey', shape: 'dot', text: label});\n\nreturn [coolingMsg, heatingMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 320,
        "wires": [
            [
                "mqtt-cooling-auto"
            ],
            [
                "mqtt-heating-auto"
            ]
        ]
    },
    {
        "id": "check-light",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Işık Kontrolü",
        "func": "// Işık seviyesi değiştiğinde kontrol et\nvar parts = msg.topic.split('/');\nvar classroomId = parts[1];\nvar lightLevel = msg.payload.value;\n\n// Varlık tespiti: PIR (donanım, hareket) OR YOLO (görsel, sabit kişi)\n// İkisi birbirini tamamlar — PIR ölü açıda YOLO yedek, YOLO offline'da PIR yedek.\nvar personCount = global.get(classroomId + '_person_count') || 0;\nvar motionDetected = global.get(classroomId + '_pir_detected') || false;\nvar presence = motionDetected || personCount > 0;\n\n// Otomasyon durumunu kontrol et\nvar autoMode = global.get(classroomId + '_auto_mode');\nif (autoMode === false || !presence) {\n    return null;  // Manuel mod veya sınıf gerçekten boş\n}\n\n// Işık eşikleri\nvar LED_ON_THRESHOLD = 300;   // 300 lux altında LED aç\nvar LED_OFF_THRESHOLD = 500;  // 500 lux üstünde LED kapat\n\nvar currentLedState = global.get(classroomId + '_led_auto_state') || false;\n\nif (lightLevel < LED_ON_THRESHOLD && !currentLedState) {\n    // Karanlık - LED aç\n    global.set(classroomId + '_led_auto_state', true);\n    node.status({fill:'yellow', shape:'dot', text:lightLevel + ' lux - LED açılıyor'});\n    \n    // LED parlaklığını ışık seviyesine göre ayarla\n    var ledBrightness = 100;\n    if (lightLevel > 200) ledBrightness = 75;\n    if (lightLevel > 250) ledBrightness = 50;\n    \n    msg.topic = 'akilli-sinif/' + classroomId + '/control/led';\n    msg.payload = { brightness: ledBrightness, reason: 'auto_light' };\n    return msg;\n    \n} else if (lightLevel > LED_OFF_THRESHOLD && currentLedState) {\n    // Aydınlık - LED kapat\n    global.set(classroomId + '_led_auto_state', false);\n    node.status({fill:'green', shape:'dot', text:lightLevel + ' lux - LED kapatılıyor'});\n    \n    msg.topic = 'akilli-sinif/' + classroomId + '/control/led';\n    msg.payload = { brightness: 0, reason: 'auto_light' };\n    return msg;\n}\n\nnode.status({fill:'grey', shape:'ring', text:lightLevel + ' lux'});\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 360,
        "wires": [
            [
                "mqtt-led-auto"
            ]
        ]
    },
    {
        "id": "mqtt-led-auto",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "LED Auto Control",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 830,
        "y": 340,
        "wires": [
            [
                "log-automation-event"
            ]
        ]
    },
    {
        "id": "mqtt-cooling-auto",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "Cooling Auto Control",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 830,
        "y": 380,
        "wires": [
            [
                "log-automation-event"
            ]
        ]
    },
    {
        "id": "mqtt-heating-auto",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "Heating Auto Control",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 830,
        "y": 420,
        "wires": [
            [
                "log-automation-event"
            ]
        ]
    },
    {
        "id": "empty-check-timer",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "Her 30 saniye",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "akilli-sinif/sinif-1/sensors/camera",
        "payload": "{}",
        "payloadType": "json",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "periodic-empty-check"
            ]
        ]
    },
    {
        "id": "periodic-empty-check",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Periyodik Boş Kontrol",
        "func": "// Her 30 saniyede bir sınıf boş mu kontrol et\nvar classroomId = 'sinif-1';\nvar personCount = global.get(classroomId + '_person_count') || 0;\n\n// Kamera verisi simüle et\nmsg.topic = 'akilli-sinif/' + classroomId + '/sensors/camera';\nmsg.payload = { person_count: personCount };\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "check-empty-classroom"
            ]
        ]
    },
    {
        "id": "comment-control",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "🎮 Manuel Kontrol",
        "info": "",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "inject-led-on",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "LED %100",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"brightness\":100}",
        "payloadType": "json",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "mqtt-led-control"
            ]
        ]
    },
    {
        "id": "inject-led-50",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "LED %50",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"brightness\":50}",
        "payloadType": "json",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "mqtt-led-control"
            ]
        ]
    },
    {
        "id": "inject-led-off",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "LED Kapat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"off\"}",
        "payloadType": "json",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "mqtt-led-control"
            ]
        ]
    },
    {
        "id": "mqtt-led-control",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "LED Control",
        "topic": "akilli-sinif/sinif-1/control/led",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 330,
        "y": 520,
        "wires": []
    },
    {
        "id": "inject-cooling-on",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "Cooling AÇ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"on\"}",
        "payloadType": "json",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "mqtt-cooling-control"
            ]
        ]
    },
    {
        "id": "inject-cooling-off",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "Cooling Kapat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"off\"}",
        "payloadType": "json",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "mqtt-cooling-control"
            ]
        ]
    },
    {
        "id": "mqtt-cooling-control",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "Cooling Control",
        "topic": "akilli-sinif/sinif-1/control/cooling",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 330,
        "y": 640,
        "wires": []
    },
    {
        "id": "inject-heating-on",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "Heating AÇ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"on\"}",
        "payloadType": "json",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "mqtt-heating-control"
            ]
        ]
    },
    {
        "id": "inject-heating-off",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "Heating Kapat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"off\"}",
        "payloadType": "json",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "mqtt-heating-control"
            ]
        ]
    },
    {
        "id": "mqtt-heating-control",
        "type": "mqtt out",
        "z": "akilli-sinif-flow",
        "name": "Heating Control",
        "topic": "akilli-sinif/sinif-1/control/heating",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 330,
        "y": 720,
        "wires": []
    },
    {
        "id": "comment-auto-toggle",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "⚙️ Otomasyon Aç/Kapat",
        "info": "",
        "x": 150,
        "y": 720,
        "wires": []
    },
    {
        "id": "inject-auto-on",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "Otomasyon AÇ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "set-auto-mode"
            ]
        ]
    },
    {
        "id": "inject-auto-off",
        "type": "inject",
        "z": "akilli-sinif-flow",
        "name": "Otomasyon KAPAT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "set-auto-mode"
            ]
        ]
    },
    {
        "id": "set-auto-mode",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Set Auto Mode",
        "func": "var autoMode = msg.payload;\nglobal.set('sinif-1_auto_mode', autoMode);\n\nif (autoMode) {\n    node.status({fill:'green', shape:'dot', text:'Otomasyon AÇIK'});\n} else {\n    node.status({fill:'red', shape:'dot', text:'Otomasyon KAPALI'});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 780,
        "wires": []
    },
    {
        "id": "comment-actuator-log",
        "type": "comment",
        "z": "akilli-sinif-flow",
        "name": "📊 Aktüatör Durum Kaydı",
        "info": "LED + Cooling + Heating durumlarını InfluxDB'ye kaydet",
        "x": 170,
        "y": 860,
        "wires": []
    },
    {
        "id": "mqtt-actuator-status",
        "type": "mqtt in",
        "z": "akilli-sinif-flow",
        "name": "Aktüatör Durumları",
        "topic": "akilli-sinif/+/status/+",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "process-actuator-status"
            ]
        ]
    },
    {
        "id": "process-actuator-status",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Aktüatör Format",
        "func": "// Topic: akilli-sinif/sinif-1/status/{led|cooling|heating}\nvar parts = msg.topic.split('/');\nvar classroomId = parts[1];\nvar actuatorType = parts[3];\n\nif (actuatorType === 'led') {\n    msg.measurement = 'led_status';\n    msg.payload = [\n        { brightness: msg.payload.brightness || 0 },\n        { classroom: classroomId, reason: msg.payload.reason || 'manual' }\n    ];\n} else if (actuatorType === 'cooling') {\n    msg.measurement = 'cooling_status';\n    msg.payload = [\n        { state: (msg.payload.state === 'on') ? 1 : 0 },\n        { classroom: classroomId, reason: msg.payload.reason || 'manual' }\n    ];\n} else if (actuatorType === 'heating') {\n    msg.measurement = 'heating_status';\n    msg.payload = [\n        { state: (msg.payload.state === 'on') ? 1 : 0 },\n        { classroom: classroomId, reason: msg.payload.reason || 'manual' }\n    ];\n} else {\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 900,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "log-automation-event",
        "type": "function",
        "z": "akilli-sinif-flow",
        "name": "Otomasyon Log",
        "func": "// Otomasyon olaylarını kaydet\nvar classroomId = msg.classroomId || 'sinif-1';\nvar reason = msg.payload.reason || 'unknown';\n\nvar actuator = 'unknown';\nvar value = 0;\nif (msg.topic.includes('/control/led')) {\n    actuator = 'led';\n    value = msg.payload.brightness || 0;\n} else if (msg.topic.includes('/control/cooling')) {\n    actuator = 'cooling';\n    value = (msg.payload.state === 'on') ? 1 : 0;\n} else if (msg.topic.includes('/control/heating')) {\n    actuator = 'heating';\n    value = (msg.payload.state === 'on') ? 1 : 0;\n}\n\nmsg.measurement = 'automation_event';\nmsg.payload = [\n    { value: value, reason: reason },\n    { classroom: classroomId, actuator: actuator }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 420,
        "wires": [
            [
                "influxdb-write"
            ]
        ]
    },
    {
        "id": "ota-flow-tab",
        "type": "tab",
        "label": "🔄 OTA Yönetimi",
        "disabled": false,
        "info": "Firmware güncelleme yönetimi. GitHub Releases'ten yeni versiyon kontrol eder ve MQTT üzerinden ESP32'lere OTA komutu gönderir.",
        "env": []
    },
    {
        "id": "ota-comment-header",
        "type": "comment",
        "z": "ota-flow-tab",
        "name": "🔄 OTA Firmware Güncelleme Yönetimi",
        "info": "1. GitHub'a git push && git tag v1.x.x && git push --tags\n2. GitHub Actions .bin dosyalarını derler ve Release'e yükler\n3. Bu akıştan ilgili cihaza güncelleme komutu gönder\n4. ESP32 binary'yi indirir ve kendini günceller",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "ota-comment-versions",
        "type": "comment",
        "z": "ota-flow-tab",
        "name": "📡 GitHub Release Kontrol",
        "info": "Her 6 saatte bir GitHub API'den son release versiyonunu kontrol eder",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "ota-check-timer",
        "type": "inject",
        "z": "ota-flow-tab",
        "name": "Her 6 saatte bir kontrol",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "21600",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "ota-check-github"
            ]
        ]
    },
    {
        "id": "ota-check-manual",
        "type": "inject",
        "z": "ota-flow-tab",
        "name": "Manuel Kontrol",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "ota-check-github"
            ]
        ]
    },
    {
        "id": "ota-check-github",
        "type": "http request",
        "z": "ota-flow-tab",
        "name": "GitHub Releases API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.github.com/repos/MagiMigi/akilli-sinif/releases/latest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "User-Agent",
                "valueType": "other",
                "valueValue": "Node-RED-AkilliSinif"
            },
            {
                "keyType": "other",
                "keyValue": "Accept",
                "valueType": "other",
                "valueValue": "application/vnd.github+json"
            }
        ],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "ota-parse-release"
            ]
        ]
    },
    {
        "id": "ota-parse-release",
        "type": "function",
        "z": "ota-flow-tab",
        "name": "Release Bilgisini Ayrıştır",
        "func": "// GitHub API yanıtını işle\nvar release = msg.payload;\n\nif (!release || !release.tag_name) {\n    node.status({fill:'red', shape:'dot', text:'API hatası veya repo bulunamadı'});\n    node.warn('GitHub API hatası: ' + JSON.stringify(release));\n    return null;\n}\n\nvar tagName = release.tag_name;\nvar assets  = release.assets || [];\n\nvar plcUrl = '', camUrl = '', simUrl = '';\nvar plcVer = '', camVer = '', simVer = '';\n\nassets.forEach(function(asset) {\n    // SADECE .bin asset'leri eslestir. .md5 sidecar'i da 'firmware-plc'\n    // icerir; atlamazsak plcUrl'i .md5 URL'i ile ezer → firmware .md5'i\n    // binary sanip .bin.md5.md5 arar → md5_unavailable hatasi.\n    if (!asset.name.endsWith('.bin')) return;\n    var m   = asset.name.match(/v(\\d+\\.\\d+\\.\\d+)/);\n    var ver = m ? m[1] : tagName.replace('v', '');\n    if (asset.name.includes('firmware-plc')) { plcUrl = asset.browser_download_url; plcVer = ver; }\n    if (asset.name.includes('firmware-cam')) { camUrl = asset.browser_download_url; camVer = ver; }\n    if (asset.name.includes('firmware-sim')) { simUrl = asset.browser_download_url; simVer = ver; }\n});\n\nglobal.set('ota_latest_tag',  tagName);\nglobal.set('ota_plc_url',     plcUrl);\nglobal.set('ota_cam_url',     camUrl);\nglobal.set('ota_sim_url',     simUrl);\nglobal.set('ota_plc_version', plcVer);\nglobal.set('ota_cam_version', camVer);\nglobal.set('ota_sim_version', simVer);\nglobal.set('ota_release_name', release.name || tagName);\nglobal.set('ota_release_date', release.published_at);\n\nnode.status({fill:'green', shape:'dot', text:'Son: ' + tagName + ' (' + (new Date(release.published_at)).toLocaleDateString('tr-TR') + ')'});\n\nmsg.payload = {\n    tag:     tagName,\n    plc_url: plcUrl, plc_ver: plcVer,\n    cam_url: camUrl, cam_ver: camVer,\n    sim_url: simUrl, sim_ver: simVer,\n    date:    release.published_at\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 160,
        "wires": [
            [
                "ota-debug-release"
            ]
        ]
    },
    {
        "id": "ota-debug-release",
        "type": "debug",
        "z": "ota-flow-tab",
        "name": "Release Bilgisi",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.tag",
        "statusType": "auto",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "ota-comment-sinif1",
        "type": "comment",
        "z": "ota-flow-tab",
        "name": "📦 Sınıf-1 Güncelleme",
        "info": "sinif-1 PLC ve CAM için OTA güncelemeleri",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "ota-trigger-plc-s1",
        "type": "inject",
        "z": "ota-flow-tab",
        "name": "sinif-1 PLC Güncelle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "plc",
        "payloadType": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "ota-build-command-s1"
            ]
        ]
    },
    {
        "id": "ota-trigger-cam-s1",
        "type": "inject",
        "z": "ota-flow-tab",
        "name": "sinif-1 CAM Güncelle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "cam",
        "payloadType": "str",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "ota-build-command-s1"
            ]
        ]
    },
    {
        "id": "ota-build-command-s1",
        "type": "function",
        "z": "ota-flow-tab",
        "name": "OTA Komutu Oluştur (sinif-1)",
        "func": "var deviceType = msg.payload;  // 'plc' veya 'cam'\n\nvar version = deviceType === 'plc' ? global.get('ota_plc_version') : global.get('ota_cam_version');\nvar url     = deviceType === 'plc' ? global.get('ota_plc_url')     : global.get('ota_cam_url');\n\nif (!version || !url) {\n    node.error('Versiyon bilgisi yok! Önce GitHub kontrolü yap.');\n    node.status({fill:'red', shape:'dot', text:'Versiyon bilinmiyor'});\n    return null;\n}\n\n// ROBUSTLUK: global stale .md5 sidecar URL tutuyorsa .bin'e duzelt\n// (parse fix oncesi context'te kalmis olabilir) -> md5_unavailable onler.\nif (url && url.endsWith('.md5')) url = url.slice(0, -4);\n\nnode.status({fill:'yellow', shape:'dot', text:'Gönderiliyor: v' + version});\n\n// md5 sidecar'i Node-RED ceker (redirect takip eder); cihaz fetch yapmaz\nmsg.fwTopic   = 'akilli-sinif/sinif-1/control/ota';\nmsg.fwVersion = version;\nmsg.fwBinUrl  = url;\nmsg.fwDevice  = deviceType;\nmsg.url       = url + '.md5';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "ota-md5-fetch-repo"
            ]
        ]
    },
    {
        "id": "ota-comment-sinif2",
        "type": "comment",
        "z": "ota-flow-tab",
        "name": "📦 Sınıf-2 (Simulator) Güncelleme",
        "info": "sinif-2 Simulator ESP32 için OTA güncelleme",
        "x": 170,
        "y": 400,
        "wires": []
    },
    {
        "id": "ota-trigger-sim-s2",
        "type": "inject",
        "z": "ota-flow-tab",
        "name": "sinif-2 SIM Güncelle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sim",
        "payloadType": "str",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "ota-build-command-s2"
            ]
        ]
    },
    {
        "id": "ota-build-command-s2",
        "type": "function",
        "z": "ota-flow-tab",
        "name": "OTA Komutu Oluştur (sinif-2)",
        "func": "var version = global.get('ota_sim_version');\nvar url     = global.get('ota_sim_url');\n\nif (!version || !url) {\n    node.error('Versiyon bilgisi yok! Önce GitHub kontrolü yap.');\n    node.status({fill:'red', shape:'dot', text:'Versiyon bilinmiyor'});\n    return null;\n}\n\n// ROBUSTLUK: global stale .md5 sidecar URL tutuyorsa .bin'e duzelt\n// (parse fix oncesi context'te kalmis olabilir) -> md5_unavailable onler.\nif (url && url.endsWith('.md5')) url = url.slice(0, -4);\n\nnode.status({fill:'yellow', shape:'dot', text:'Gönderiliyor: v' + version});\n\n// md5 sidecar'i Node-RED ceker (redirect takip eder); cihaz fetch yapmaz\nmsg.fwTopic   = 'akilli-sinif/sinif-2/control/ota';\nmsg.fwVersion = version;\nmsg.fwBinUrl  = url;\nmsg.fwDevice  = 'sim';\nmsg.url       = url + '.md5';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "ota-md5-fetch-repo"
            ]
        ]
    },
    {
        "id": "ota-mqtt-out",
        "type": "mqtt out",
        "z": "ota-flow-tab",
        "name": "OTA Komutu Gönder",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "ota-comment-broadcast",
        "type": "comment",
        "z": "ota-flow-tab",
        "name": "📡 Tüm Cihazları Güncelle (Broadcast)",
        "info": "akilli-sinif/all/control/ota topic'ine gönderir.\nTüm ESP32'ler aynı anda güncellenir.",
        "x": 190,
        "y": 480,
        "wires": []
    },
    {
        "id": "ota-trigger-all-plc",
        "type": "inject",
        "z": "ota-flow-tab",
        "name": "TÜM PLC'leri Güncelle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "plc",
        "payloadType": "str",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "ota-build-command-broadcast"
            ]
        ]
    },
    {
        "id": "ota-trigger-all-cam",
        "type": "inject",
        "z": "ota-flow-tab",
        "name": "TÜM CAM'leri Güncelle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "cam",
        "payloadType": "str",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "ota-build-command-broadcast"
            ]
        ]
    },
    {
        "id": "ota-build-command-broadcast",
        "type": "function",
        "z": "ota-flow-tab",
        "name": "OTA Broadcast Komutu",
        "func": "var deviceType = msg.payload;  // 'plc' veya 'cam'\n\nvar version = deviceType === 'plc' ? global.get('ota_plc_version') : global.get('ota_cam_version');\nvar url     = deviceType === 'plc' ? global.get('ota_plc_url')     : global.get('ota_cam_url');\n\nif (!version || !url) {\n    node.error('Versiyon bilgisi yok! Önce GitHub kontrolü yap.');\n    node.status({fill:'red', shape:'dot', text:'Versiyon bilinmiyor'});\n    return null;\n}\n\n// ROBUSTLUK: global stale .md5 sidecar URL tutuyorsa .bin'e duzelt\n// (parse fix oncesi context'te kalmis olabilir) -> md5_unavailable onler.\nif (url && url.endsWith('.md5')) url = url.slice(0, -4);\n\nnode.status({fill:'yellow', shape:'dot', text:'Tüm ' + deviceType.toUpperCase() + ' → v' + version});\n\n// md5 sidecar'i Node-RED ceker (redirect takip eder); cihaz fetch yapmaz\nmsg.fwTopic   = 'akilli-sinif/all/control/ota';\nmsg.fwVersion = version;\nmsg.fwBinUrl  = url;\nmsg.fwDevice  = deviceType;\nmsg.url       = url + '.md5';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 540,
        "wires": [
            [
                "ota-md5-fetch-repo"
            ]
        ]
    },
    {
        "id": "ota-comment-status",
        "type": "comment",
        "z": "ota-flow-tab",
        "name": "📊 OTA Durum Takibi",
        "info": "ESP32'den gelen OTA ilerleme ve sonuç mesajları",
        "x": 150,
        "y": 520,
        "wires": []
    },
    {
        "id": "ota-status-listener",
        "type": "mqtt in",
        "z": "ota-flow-tab",
        "name": "OTA Durum (Tüm Cihazlar)",
        "topic": "akilli-sinif/+/status/ota",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "ota-process-status"
            ]
        ]
    },
    {
        "id": "ota-process-status",
        "type": "function",
        "z": "ota-flow-tab",
        "name": "OTA Durum İşle",
        "func": "var parts      = msg.topic.split('/');\nvar classroomId = parts[1];\nvar status      = msg.payload.status;\nvar progress    = msg.payload.progress || -1;\nvar version     = msg.payload.target_version || '';\nvar error       = msg.payload.error || '';\nvar curVersion  = msg.payload.current_version || '';\n\nvar logKey = classroomId + '_ota_status';\nglobal.set(logKey, {\n    status:  status,\n    version: version,\n    updated: new Date().toLocaleTimeString('tr-TR')\n});\n\nvar statusText = '';\nvar color = 'grey';\n\nswitch(status) {\n    case 'updating':\n        color = 'yellow';\n        statusText = classroomId + ': İndiriliyor ' + progress + '%';\n        break;\n    case 'success':\n        color = 'green';\n        statusText = classroomId + ': ✅ ' + version + ' başarılı!';\n        // Mevcut versiyon bilgisini güncelle\n        global.set(classroomId + '_firmware_version', version);\n        break;\n    case 'failed':\n        color = 'red';\n        statusText = classroomId + ': ❌ Hata: ' + error;\n        break;\n    case 'up_to_date':\n        color = 'blue';\n        statusText = classroomId + ': Zaten güncel (' + curVersion + ')';\n        break;\n    default:\n        statusText = classroomId + ': ' + status;\n}\n\nnode.status({fill: color, shape: 'dot', text: statusText});\n\n// Log mesajı\nmsg.logText = '[' + new Date().toLocaleTimeString('tr-TR') + '] ' + statusText;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 560,
        "wires": [
            [
                "ota-debug-status"
            ]
        ]
    },
    {
        "id": "ota-debug-status",
        "type": "debug",
        "z": "ota-flow-tab",
        "name": "OTA Durum Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "logText",
        "targetType": "msg",
        "statusVal": "logText",
        "statusType": "auto",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "ota-comment-firmware-status",
        "type": "comment",
        "z": "ota-flow-tab",
        "name": "📡 Cihaz Firmware Versiyonları (MQTT status'tan okunur)",
        "info": "Her cihaz status/connection topic'ine firmware_version alanı ile bildirir.\nBu node firmware versiyonlarını global context'e kaydeder.",
        "x": 240,
        "y": 640,
        "wires": []
    },
    {
        "id": "ota-fw-version-listener",
        "type": "mqtt in",
        "z": "ota-flow-tab",
        "name": "Cihaz Durumu (Versiyon izle)",
        "topic": "akilli-sinif/+/status/connection",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 1,
        "inputs": 0,
        "x": 180,
        "y": 680,
        "wires": [
            [
                "ota-track-fw-version"
            ]
        ]
    },
    {
        "id": "ota-track-fw-version",
        "type": "function",
        "z": "ota-flow-tab",
        "name": "Firmware Versiyonu Kaydet",
        "func": "var parts       = msg.topic.split('/');\nvar classroomId  = parts[1];\nvar fwVersion    = msg.payload.firmware_version || 'bilinmiyor';\nvar device       = msg.payload.device || 'unknown';\nvar mockMode     = msg.payload.mock_mode || false;\n\nglobal.set(classroomId + '_firmware_version', fwVersion);\nglobal.set(classroomId + '_device_id',        device);\n\nvar latestVersion;\nif      (device.includes('plc')) latestVersion = global.get('ota_plc_version') || '?';\nelse if (device.includes('cam')) latestVersion = global.get('ota_cam_version') || '?';\nelse if (device.includes('sim')) latestVersion = global.get('ota_sim_version') || '?';\nelse                             latestVersion = '?';\n\nvar upToDate = (fwVersion === latestVersion);\n\nvar statusText = classroomId + ' (' + device + '): v' + fwVersion;\nif (latestVersion !== '?') {\n    statusText += upToDate ? ' ✅ güncel' : ' ⚠️ güncelleme var: v' + latestVersion;\n}\n\nnode.status({fill: upToDate ? 'green' : 'yellow', shape: 'dot', text: statusText});\n\nmsg.logText = statusText;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 680,
        "wires": [
            [
                "ota-debug-fw-versions"
            ]
        ]
    },
    {
        "id": "ota-debug-fw-versions",
        "type": "debug",
        "z": "ota-flow-tab",
        "name": "Firmware Versiyonları",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "logText",
        "targetType": "msg",
        "statusVal": "logText",
        "statusType": "auto",
        "x": 700,
        "y": 680,
        "wires": []
    },
    {
        "id": "reset-flow-tab",
        "type": "tab",
        "label": "⚙️ Config Sıfırlama",
        "disabled": false,
        "info": "ESP32 cihazlarını uzaktan config sıfırlar. Sıfırlanan cihaz WiFi+MQTT ayarlarını siler ve WiFiManager portalını açar (192.168.4.1).",
        "env": []
    },
    {
        "id": "reset-comment-header",
        "type": "comment",
        "z": "reset-flow-tab",
        "name": "⚙️ Uzaktan Config Sıfırlama",
        "info": "Butona basınca ESP32:\n1. NVS (WiFi şifresi + MQTT broker IP) siler\n2. Yeniden başlar\n3. 'Akilli-Sinif-Setup' WiFi ağını açar\n4. 192.168.4.1 adresinden yeni ayarları gir",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "reset-comment-specific",
        "type": "comment",
        "z": "reset-flow-tab",
        "name": "🏫 Belirli Sınıf Sıfırla",
        "info": "Sadece seçilen sınıfın ESP32'sini sıfırlar",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "reset-trigger-s1",
        "type": "inject",
        "z": "reset-flow-tab",
        "name": "sinif-1 Sıfırla",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sinif-1",
        "payloadType": "str",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "reset-build-command"
            ]
        ]
    },
    {
        "id": "reset-trigger-s2",
        "type": "inject",
        "z": "reset-flow-tab",
        "name": "sinif-2 Sıfırla",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sinif-2",
        "payloadType": "str",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "reset-build-command"
            ]
        ]
    },
    {
        "id": "reset-trigger-s3",
        "type": "inject",
        "z": "reset-flow-tab",
        "name": "sinif-3 Sıfırla",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sinif-3",
        "payloadType": "str",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "reset-build-command"
            ]
        ]
    },
    {
        "id": "reset-build-command",
        "type": "function",
        "z": "reset-flow-tab",
        "name": "Reset Komutu Oluştur",
        "func": "var classroomId = msg.payload;  // 'sinif-1', 'sinif-2', vs.\n\nmsg.topic   = 'akilli-sinif/' + classroomId + '/control/reset';\nmsg.payload = JSON.stringify({ action: 'reset_config' });\n\nnode.status({fill:'yellow', shape:'dot', text: classroomId + ' sıfırlanıyor...'});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "reset-mqtt-out"
            ]
        ]
    },
    {
        "id": "reset-comment-broadcast",
        "type": "comment",
        "z": "reset-flow-tab",
        "name": "📡 Tüm Cihazları Sıfırla (Broadcast)",
        "info": "akilli-sinif/all/control/reset topic'ine gönderir.\nTüm ESP32'ler bu topic'e abone olduğu için hepsi sıfırlanır.",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "reset-trigger-all",
        "type": "inject",
        "z": "reset-flow-tab",
        "name": "⚠️ TÜM CİHAZLARI SIFIRLA",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"reset_config\"}",
        "payloadType": "json",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "reset-broadcast-out"
            ]
        ]
    },
    {
        "id": "reset-broadcast-out",
        "type": "mqtt out",
        "z": "reset-flow-tab",
        "name": "Broadcast Reset",
        "topic": "akilli-sinif/all/control/reset",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "reset-mqtt-out",
        "type": "mqtt out",
        "z": "reset-flow-tab",
        "name": "Reset Komutu Gönder",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "relay-test-flow",
        "type": "tab",
        "label": "🔌 Relay Test",
        "disabled": false,
        "info": "esp32-relay-test cihazi icin manuel ON/OFF kontrol + status izleme.\n\nDevice: relay-test-1 (varsayilan)\nTopic root: akilli-sinif/relay-test/{device_id}/...\n\n2 role: cooling (GPIO21) ve heating (GPIO22).",
        "env": []
    },
    {
        "id": "relay-test-comment-header",
        "type": "comment",
        "z": "relay-test-flow",
        "name": "🔌 Relay Test - Cooling + Heating Kontrol (relay-test-1)",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "relay-test-comment-cooling",
        "type": "comment",
        "z": "relay-test-flow",
        "name": "❄️ Cooling (Role 1 / GPIO 21)",
        "info": "",
        "x": 160,
        "y": 90,
        "wires": []
    },
    {
        "id": "relay-test-cooling-on",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "Cooling ON",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/relay-test-1/control/cooling",
        "payload": "{\"state\":\"on\"}",
        "payloadType": "json",
        "x": 150,
        "y": 130,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-cooling-off",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "Cooling OFF",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/relay-test-1/control/cooling",
        "payload": "{\"state\":\"off\"}",
        "payloadType": "json",
        "x": 150,
        "y": 170,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-comment-heating",
        "type": "comment",
        "z": "relay-test-flow",
        "name": "🔥 Heating (Role 2 / GPIO 22)",
        "info": "",
        "x": 160,
        "y": 230,
        "wires": []
    },
    {
        "id": "relay-test-heating-on",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "Heating ON",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/relay-test-1/control/heating",
        "payload": "{\"state\":\"on\"}",
        "payloadType": "json",
        "x": 150,
        "y": 270,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-heating-off",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "Heating OFF",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/relay-test-1/control/heating",
        "payload": "{\"state\":\"off\"}",
        "payloadType": "json",
        "x": 150,
        "y": 310,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-comment-broadcast",
        "type": "comment",
        "z": "relay-test-flow",
        "name": "📡 Broadcast (relay-test/all/...)",
        "info": "Tum relay-test cihazlari ayni anda eklenir/cikarilir.",
        "x": 170,
        "y": 370,
        "wires": []
    },
    {
        "id": "relay-test-all-cooling-on",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "ALL Cooling ON",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/all/control/cooling",
        "payload": "{\"state\":\"on\"}",
        "payloadType": "json",
        "x": 170,
        "y": 410,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-all-cooling-off",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "ALL Cooling OFF",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/all/control/cooling",
        "payload": "{\"state\":\"off\"}",
        "payloadType": "json",
        "x": 170,
        "y": 450,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-all-heating-on",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "ALL Heating ON",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/all/control/heating",
        "payload": "{\"state\":\"on\"}",
        "payloadType": "json",
        "x": 170,
        "y": 490,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-all-heating-off",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "ALL Heating OFF",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/all/control/heating",
        "payload": "{\"state\":\"off\"}",
        "payloadType": "json",
        "x": 170,
        "y": 530,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-comment-reset",
        "type": "comment",
        "z": "relay-test-flow",
        "name": "⚙️ Config Reset (relay-test-1)",
        "info": "NVS siler, WiFiManager portalini acar.",
        "x": 160,
        "y": 590,
        "wires": []
    },
    {
        "id": "relay-test-reset-one",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "relay-test-1 Sifirla",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/relay-test-1/control/reset",
        "payload": "{\"action\":\"reset_config\"}",
        "payloadType": "json",
        "x": 170,
        "y": 630,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-reset-all",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "⚠️ ALL Sifirla",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/all/control/reset",
        "payload": "{\"action\":\"reset_config\"}",
        "payloadType": "json",
        "x": 170,
        "y": 670,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "relay-test-mqtt-out",
        "type": "mqtt out",
        "z": "relay-test-flow",
        "name": "MQTT Out (topic from msg)",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 500,
        "y": 350,
        "wires": []
    },
    {
        "id": "relay-test-comment-status",
        "type": "comment",
        "z": "relay-test-flow",
        "name": "📊 Status Dinleyiciler",
        "info": "Cihaz durumu + role echo'lari.",
        "x": 800,
        "y": 90,
        "wires": []
    },
    {
        "id": "relay-test-status-connection-in",
        "type": "mqtt in",
        "z": "relay-test-flow",
        "name": "status/connection",
        "topic": "akilli-sinif/relay-test/+/status/connection",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 130,
        "wires": [
            [
                "relay-test-status-debug"
            ]
        ]
    },
    {
        "id": "relay-test-status-cooling-in",
        "type": "mqtt in",
        "z": "relay-test-flow",
        "name": "status/cooling",
        "topic": "akilli-sinif/relay-test/+/status/cooling",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 170,
        "wires": [
            [
                "relay-test-status-debug"
            ]
        ]
    },
    {
        "id": "relay-test-status-heating-in",
        "type": "mqtt in",
        "z": "relay-test-flow",
        "name": "status/heating",
        "topic": "akilli-sinif/relay-test/+/status/heating",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 210,
        "wires": [
            [
                "relay-test-status-debug"
            ]
        ]
    },
    {
        "id": "relay-test-status-ota-in",
        "type": "mqtt in",
        "z": "relay-test-flow",
        "name": "status/ota",
        "topic": "akilli-sinif/relay-test/+/status/ota",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 250,
        "wires": [
            [
                "relay-test-status-debug"
            ]
        ]
    },
    {
        "id": "relay-test-status-debug",
        "type": "debug",
        "z": "relay-test-flow",
        "name": "relay-test status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "topic",
        "statusType": "auto",
        "x": 1050,
        "y": 190,
        "wires": []
    },
    {
        "id": "relay-test-comment-ota",
        "type": "comment",
        "z": "relay-test-flow",
        "name": "🚀 OTA Tetik (relay-test-1)",
        "info": "URL'i kendi GitHub release'inle guncelle.",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "relay-test-ota-trigger",
        "type": "inject",
        "z": "relay-test-flow",
        "name": "relay-test-1 OTA",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "akilli-sinif/relay-test/relay-test-1/control/ota",
        "payload": "{\"action\":\"update\",\"version\":\"v1.0.1\",\"url\":\"https://github.com/MagiMigi/akilli-sinif/releases/download/relay-test-v1.0.1/firmware-relay-test.bin\"}",
        "payloadType": "json",
        "x": 800,
        "y": 360,
        "wires": [
            [
                "relay-test-mqtt-out"
            ]
        ]
    },
    {
        "id": "ota-md5-fetch-repo",
        "type": "http request",
        "z": "ota-flow-tab",
        "name": "OTA md5 Sidecar Indir",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "User-Agent",
                "valueType": "other",
                "valueValue": "Node-RED-AkilliSinif"
            }
        ],
        "x": 740,
        "y": 460,
        "wires": [
            [
                "ota-md5-final-repo"
            ]
        ]
    },
    {
        "id": "ota-md5-final-repo",
        "type": "function",
        "z": "ota-flow-tab",
        "name": "OTA Komutu + md5 Gom",
        "func": "// Node-RED'in indirdigi md5 metnini payload'a gom -> cihaz sidecar fetch yapmaz\nvar md5 = (msg.payload || '').toString().trim().split(/\\s+/)[0];\nif (!/^[0-9a-fA-F]{32}$/.test(md5)) {\n    node.error('md5 sidecar gecersiz/alinamadi: ' + JSON.stringify(msg.payload));\n    node.status({fill:'red', shape:'dot', text:'md5 alinamadi'});\n    return null;\n}\nmsg.topic   = msg.fwTopic;\nmsg.payload = JSON.stringify({\n    action:  'update',\n    version: msg.fwVersion,\n    url:     msg.fwBinUrl,\n    md5:     md5.toLowerCase(),\n    device:  msg.fwDevice\n});\nnode.status({fill:'green', shape:'dot', text:'md5 ok -> gonderiliyor'});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 460,
        "wires": [
            [
                "ota-mqtt-out"
            ]
        ]
    }
]